<div class="container-recipe">
    <div class="recipe-container">
        <a href="/recipes/new" class="new-recipe-btn">New recipe</a>
        <% @recipes.each do |recipe|%>
         <% if can? :read, recipe%>
            <a href="/recipes/<%= recipe.id %>" class="recipe-link">
                <div class="recipe_number_button">
                    <h2>
                        <%= recipe.name %>
                    </h2>
                    <%=button_to "Delete" , recipe_path(recipe), method: :delete, class:"font-medium text-blue-600 dark:text-blue-500 hover:underline"%>
                </div>
                <div class="recipe_details">
                    <p>
                        <%= recipe.description %>
                    </p>
                </div>
            </a>
         <% end %>
        <% end %>
    </div>
</div>
